* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #000;
    background-color: #fff;
}
.container {
    max-width: 1464px;
    padding: 0 28px;
    margin: 0 auto;
}
.fs-1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 28px;
    display: block;
    padding-top: 49px;
    margin-top: 0px;
}
.form-control {
    width: 100%;
    height: 85px;
    border: 3px solid #000;
    border-radius: 10px;
    outline: none;
    padding: 0 24px;
    font-size: 32px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 26px;
}
.form-control::placeholder {
    color: #000;
}
.btn-dark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 3px solid #000;
    background-color: #000;
    outline: none;
    color: #fff;
    min-height: 67px;
    min-width: 303px;
    font-size: 24px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn-dark:hover {
    background-color: #fff;
    color: #000;
}
.para {
    margin-top: 0px;
    margin-bottom: 68px;
}
.form-group {
    position: relative;
    margin-bottom: 49px;
}
.form-group .form-control {
    padding: 0 75px;
    margin-bottom: 0px;
}
.form-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 24px;
    left: 22px;
}
.form-icon img {
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -28px;
}
.col {
    flex: 0 0 auto;
    max-width: 100%;
    width: 50%;
    padding: 0 28px;
}
.details-box {
    margin-bottom: 47px;
    padding: 35px 45px;
    border: 3px solid #000;
    border-radius: 10px;
}
.details-box p {
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: 400;
}
.details-box p:last-child {
    margin-bottom: 0px;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    align-items: center;
    justify-content: center;
}